@import url("https://fonts.googleapis.com/css?family=Baloo+2:400,500,600,700,800&display=swap");

body {
  background-color: lightgoldenrodyellow;
  font-family: "Baloo 2", cursive;
}
.post-title {
  display: inline-block;
}
.post-title__icon {
  display: inline-block;
  margin-left: 10px;
  width: 6%;
  border-radius: 50%;
}
.post-title__subtitle {
  display: inline-block;
  width: 80%;
  margin-right: 10px;
  font-weight: bold;
}

.post-section {
  margin: 20px 20px;
  display: inline-block;
  box-shadow: lightgray 1px 1px;
  background: white;
  width: 30%;
  justify-content: center;
}
.post-image {
  width: 30%;
  margin-right: 10px;
  box-shadow: grey 2px 2px;
}

.post-description {
  display: inline-block;
  width: 60%;
  text-align: left;
  margin-left: 10px;
}

.fa-thumbs-up,
.fa-thumbs-down {
  color: rgb(78, 78, 78);
}

@media screen and (max-width: 1200px) {
  .post-section {
    width: 30%;
  }
}
@media screen and (max-width: 876px) {
  .post-section {
    width: 60%;
    float: left;
  }
}
